<div class="footer">
  <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 800px;  /* The width is the width of the web page */
       }
    </style>
<script>
// Initialize and add the map
  function initMap() {
  // The location of Uluru
  var uluru = {lat: 32.705014, lng: 35.3052709};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 17, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCglh-Sviv3NxgID_4gwh-mNHggNYj_EQ4&callback=initMap">
</script>



<!-- <div  class="footer-info">
  <div id="map" id=" bottom"></div>
  <div class="foot text-center">
    <h4>Opening hours</h4>
    <hr class="accessory">
    <table>
      <tr>
        <th>
          <h5>Seven days a week</h5>
        </th>
      </tr>
      <tr>
       <td>
        11:00AM - 11:00PM
      </td>
      </tr>
    </table>
  </div>
  <div class="footer-links" id="bottom-2">
    <h4>Contact</h5>
    <h5>Telephone: 04-6256479</h5>
    <h5>Fax: 04-9555524</h5>
    <h5>Email: naderde@netvision.net.il</h5>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
  </div>
</div> -->

<div  class="footer-info">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <div id="map" id=" bottom"></div>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="foot text-center">
    <h4>Opening hours</h4>
    <hr class="accessory">
    <table>
      <tr>
        <th>
          <h5>Seven days a week</h5>
        </th>
      </tr>
      <tr>
       <td>
        11:00AM - 11:00PM
      </td>
      </tr>
    </table>
  </div>
    </div>
    <div class="col-md-6 col-xs-12">
       <div class="footer-links" id="bottom-2">
    <h4>Contact</h5>
    <h5>Telephone: 04-6256479</h5>
    <h5>Fax: 04-9555524</h5>
    <h5>Email: naderde@netvision.net.il</h5>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
    </div>
  </div>
</div>
</div>






