<div class="navbar-wagon">
  <div class="container">
    <div class="row nav-center">

      <div class="col-md-4">
        <div class="contact">
          <h3>
            <a href="#bottom">Contact</a>
          </h3>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <%= link_to (image_tag "mina.jpg", class: 'logo'), root_path %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-center">
          <h3>
            <a href="#bottom-2">Location</a>
          </h3>
        </div>
      </div>

    </div>
  </div>
</div>





