<div class="staff">
  <div class="members">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">

        <div class="col-xs-12 col-sm-4 member">
          <div class="firstmember"></div>
          <div class="staff-info text-center">
            <h3>Gordon Ramsay</h3>
            <p>Gordon is the Head-chef of the restaurant.
            He has 36 years of experience</p>
            <hr class="style-eight">
          </div>
        </div>
        
        <div class="col-xs-12 col-sm-4 member">
          <div class="secondmember text-center"></div>
          <div class="staff-info text-center">
          <h3>Charlie Trotter</h3>
          <p>Charlie has 35 years of experience</p>
          <hr class="style-eight">
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 member">
          <div class="thirdmember"></div>
          <div class="staff-info text-center">
          <h3>Emeril Lagasse</h3>
          <p>Emeril has 48 years of experience</p>
          <hr class="style-eight">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

