<div class="staff">
<div class="members">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-xs-12 col-sm-4 member">
        <div class="firstmember"></div>
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        He has 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-4 member">
        <div class="secondmember"></div>
           <h3>Charlie Trotter</h3>
        <p>Gordon is the chef of the restaurant.
        He has 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-4 member">
        <div class="thirdmember"></div>
           <h3>Emeril Lagasse</h3>
        <p>Gordon is the chef of the restaurant.
        He has 10 years of experience</p>
      </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
<div class="menu-pic"></div>

<div class="menu">
<div class="members">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 logo-menu">
        <div class="text-center menu-logo"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Gordon Ramsay</h3>
        <p>Gordon is the chef of the restaurant.
        Hehas 10 years of experience</p>
      </div>

    </div>
</div>
</div>
</div>
</div>
<div class="menu-pic"></div>
