.banner {
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
   url('https://scontent.fhfa4-1.fna.fbcdn.net/v/t31.0-8/19467843_503482659987424_6896521262027472527_o.jpg?_nc_cat=0&oh=9e07b246dbbbfd0d0f5d5705dab8bec8&oe=5BDE4A63') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  color: white;
}

