.banner {
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
   url('https://images.unsplash.com/photo-1534080564583-6be75777b70a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3000865c9156a669034a072dccdab8e1&auto=format&fit=crop&w=1950&q=80') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  color: white;
}

@media screen and (max-width: 480px) {
  .banner {
    background-position: center;
    background:
   url('https://scontent.fhfa4-1.fna.fbcdn.net/v/t1.0-9/12036740_182956155373411_6588166357748076107_n.jpg?_nc_cat=0&oh=1b5025494d3e8f66c2a141f06165a43d&oe=5BD4E7C9');
   background-repeat: no-repeat;
   background-attachment: fixed;

  }
}

.btn-primary {
  background-color: #4285f4;
  border-color: #4285f4;
}